NEXT_PUBLIC_BACKEND_URL=https://api-nexus.cursar.space
NEXT_PUBLIC_FIREBASE_API_KEY=sua_chave
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nexus.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nexus
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nexus.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=000000000000
NEXT_PUBLIC_FIREBASE_APP_ID=1:000000000000:web:0000000000000000000000
