NEXT_PUBLIC_BACKEND_URL=http://127.0.0.1:18000
NEXT_PUBLIC_FIREBASE_API_KEY=sua_chave
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nexus-98e32.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nexus-98e32
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nexus-98e32.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=000000000000
NEXT_PUBLIC_FIREBASE_APP_ID=1:000000000000:web:0000000000000000000000
